@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Pretendard;
    color: theme(colors[gray].700);
  }

  /* accent color */
  [data-accent-color="primary"] {
    --accent: theme(colors.primary.DEFAULT);
    --accent-dark: theme(colors.primary.dark);
    --accent-light: theme(colors.primary.light);
  }

  [data-accent-color="grayscale"] {
    --accent: theme(colors.gray.500);
    --accent-dark: theme(colors.gray.600);
    --accent-light: theme(colors.gray.400);
  }
}

@layer components {
  .radio-input {
    @apply relative h-4 w-4 appearance-none rounded-full border border-gray-600 checked:border-primary;

    &::after {
      @apply absolute left-1/2 top-1/2 hidden h-2 w-2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary content-[''];
    }

    &:checked::after {
      @apply block;
    }
  }
}

@layer utilities {
  .headline-1 {
    @apply text-[1.75rem] font-[700] leading-[130%];
  }
  .headline-2 {
    @apply text-[1.375rem] font-[700] leading-[130%];
  }
  .headline-3 {
    @apply text-[1.25rem] font-[700] leading-[130%];
  }

  .subheading-bold {
    @apply text-[1.125rem] font-[700] leading-[140%];
  }
  .subheading {
    @apply text-[1.125rem] font-[400] leading-[140%];
  }

  .body-1-bold {
    @apply text-[1rem] font-[700] leading-[140%];
  }
  .body-1 {
    @apply text-[1rem] font-[400] leading-[140%];
  }

  .body-2-bold {
    @apply text-[0.9375rem] font-[700] leading-[140%];
  }
  .body-2 {
    @apply text-[0.9375rem] font-[400] leading-[140%];
  }

  .body-3-bold {
    @apply text-[0.875rem] font-[700] leading-[140%];
  }
  .body-3 {
    @apply text-[0.875rem] font-[400] leading-[140%];
  }

  .label-bold {
    @apply text-[0.75rem] font-[700] leading-[140%];
  }
  .label {
    @apply text-[0.75rem] font-[400] leading-[140%];
  }
}
